$light-primary: #fffcfb;
$dark-primary: #191919;
$accent-primary: #b23b05;
$button-hover: #f05a14;

$background-dark: #323232;
$background-light: #f7f6f6;

$error: #9f041b;
$confirmed: #429321;

$green-gradient: linear-gradient(rgb(180, 236, 81), rgb(66, 147, 33));
$blue-gradient: linear-gradient(rgb(48, 35, 174), rgb(200, 109, 215));
$pink-gradient: linear-gradient(rgb(248, 77, 158), rgb(255, 116, 117));
$orange-gradient: linear-gradient(rgb(245, 81, 95), rgb(159, 4, 27));
