//Light
@font-face {
  font-family: "Mukta";
  src: url("../../assets/fonts/Mukta-Light.woff") format("woff"),
    url("../../assets/fonts/Mukta-Light.woff2") format("woff2");
  font-weight: 300;
}
// Regular
@font-face {
  font-family: "Mukta";
  src: url("../../assets/fonts/Mukta-Regular.woff") format("woff"),
    url("../../assets/fonts/Mukta-Regular.woff2") format("woff2");
  font-weight: 400;
}

//Medium
@font-face {
  font-family: "Mukta";
  src: url("../../assets/fonts/Mukta-Medium.woff") format("woff"),
    url("../../assets/fonts/Mukta-Medium.woff2") format("woff2");
  font-weight: 500;
}
//SemiBold
@font-face {
  font-family: "Mukta";
  src: url("../../assets/fonts/Mukta-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Mukta-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
//Bold
@font-face {
  font-family: "Mukta";
  src: url("../../assets/fonts/Mukta-Bold.woff") format("woff"),
    url("../../assets/fonts/Mukta-Bold.woff2") format("woff2");
  font-weight: 700;
}
//ExtraBold
@font-face {
  font-family: "Mukta";
  src: url("../../assets/fonts/Mukta-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Mukta-ExtraBold.woff2") format("woff2");
  font-weight: 900;
}
