@use "../../styles/partials/globals" as *;

.hero {
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  &__image {
    width: 20rem;
  }

  &__titles {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    color: $dark-primary;
    text-transform: uppercase;

    padding: 1rem 2rem 0.5rem 2rem;
  }
  &__subtitle {
    color: $dark-primary;
  }
}
