@use "../../styles/partials/globals" as *;

.add-event {
  background-color: $background-light;
  &__title {
    background-color: $light-primary;
    margin: 0 2rem;
    padding: 1rem;
    text-transform: uppercase;
  }
  &__form {
    background-color: $light-primary;
    padding: 1rem;
    margin: 0 2rem;
  }
  &__input {
    margin-bottom: 1rem;
    &--file {
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
  &__category {
    display: flex;
    flex-direction: column;
  }
  &__buttons-box {
    display: flex;

    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
    }
  }
}
